[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    C0301,  # line-too-long
    C0304,  # missing-final-newline
    C0413,  # wrong-import-position
    W0105,  # pointless-string-statement
    W0201,  # attribute-defined-outside-init
    W0611,  # unused-import
    W0612,  # unused-variable
    W0613,  # unused-argument
    W0621,  # redefined-outer-name
    W0622,  # redefined-builtin
    W0702,  # bare-except
    W0703,  # broad-except
    W1203,  # logging-fstring-interpolation
    W1309,  # f-string-without-interpolation
    R0901,  # too-many-ancestors
    R0902,  # too-many-instance-attributes
    R0903,  # too-few-public-methods
    R0904,  # too-many-public-methods
    R0911,  # too-many-return-statements
    R0912,  # too-many-branches
    R0913,  # too-many-arguments
    R0914,  # too-many-locals
    R0915,  # too-many-statements
    R1705,  # no-else-return
    R1710,  # inconsistent-return-statements
    E1101,  # no-member

[FORMAT]
max-line-length=150

[BASIC]
good-names=i,j,k,ex,Run,_,id,e,f